@import-normalize;

ion-icon {
    font-size: 40px;
}

body {
    background: rgb(225,239,255);
    background: linear-gradient(270deg, rgba(225,239,255,1) 3%, rgba(206,192,182,1) 97%); 
}

.label {
    font-size: 24px;
    margin-left: 15px;
}

.bubble {
    display: flex;
    align-self: end;
    border: 3px solid #D27B44;
    background-color: #D27B44;
    opacity: 0.8;
    border-radius: 24px;
    width: 24px;
    height: 24px;
    margin-right: -10px;
    margin-bottom: -20px;
    text-decoration: none;
}

.no-bubble {
    align-self: end;
    border: 3px solid #D27B44;
    opacity: 0;
    width: 24px;
    height: 24px;
    margin-right: -10px;
    margin-bottom: -20px;
    text-decoration: none;
}


.items-cart {
    margin: auto;
    color: white;
    font-weight: 600;
    font-size: medium;
    text-align: center;
}

.no-items-cart {
    opacity: 0;
}

.checkout-container {
    max-width: 1000px;
    margin: 20px 50px 50px auto;
    box-shadow: 0px 0px 12px 0px #919191;
    padding: 10px;
    min-height: calc( 100vh - 160px );
}

.cko-main-title {
    font-size: xx-large;
    font-weight: bold;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
}

.cko-title-img {

}

.cko-title-name {
    display: flex;
    justify-content: center;
    width: 465px;
    font-size: x-large;
    font-family: sans-serif;
    font-weight: bold;
}

.cko-title-q {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 130px;
    font-size: x-large;
    font-family: sans-serif;
    font-weight: bold;
}

.cko-title-price {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100px;
    font-size: x-large;
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: 0.8px;
}

.cko-title-subtotal {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100px;
    font-size: x-large;
    font-family: sans-serif;
    font-weight: bold;
}

.cko-total{
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin: 40px;
}

.total-label {
    font-size: x-large;
    font-family: sans-serif;
    font-weight: bold;
    margin-left: 60px;
}

.textMessage {
    display: flex;
    margin-right: 30px;
}

.flexRow {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 10px 30px;
}    